@font-face {
  font-family: "Formula1";
  src: url("assets/fonts/Formula1-Regular.eot");
  src: local("☺"), url("assets/fonts/Formula1-Regular.woff") format("woff"),
    url("assets/fonts/Formula1-Regular.ttf") format("truetype"),
    url("assets/fonts/Formula1-Regular.svg") format("svg"),
    url("assets/fonts/Formula1-Regular.otf") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
@font-face {
  font-family: "Formula1";
  font-weight: normal;
  src: url('/src/assets/fonts/Formula1/Formula1-Display-Regular.ttf') format("ttf");
  src: url('/src/assets/fonts/Formula1/Formula1-Display-Regular.woff') format("woff");
  src: url('/src/assets/fonts/Formula1/Formula1-Regular.eot') format("eot");
  src: url('/src/assets/fonts/Formula1/Formula1-Regular.woff2') format("woff2");
}
@font-face {
  font-family: "Formula1";
  font-weight: bold;
  src: url('/src/assets/fonts/Formula1/Formula1-Display-Bold.ttf') format("ttf");
  src: url('/src/assets/fonts/Formula1/Formula1-Display-Bold.woff') format("woff");
  src: url('/src/assets/fonts/Formula1/Formula1-Bold.eot') format("eot");
  src: url('/src/assets/fonts/Formula1/Formula1-Bold.woff2') format("woff2");
}

@font-face {
  font-family: "Formula1";
  font-weight: bolder;
  src: url('/src/assets/fonts/Formula1/Formula1-Display-Black.ttf') format("ttf");
  src: url('/src/assets/fonts/Formula1/Formula1-Display-Black.woff') format("woff");
  src: url('/src/assets/fonts/Formula1/Formula1-Black.eot') format("eot");
  src: url('/src/assets/fonts/Formula1/Formula1-Black.woff2') format("woff2");
}

@font-face {
  font-family: "Formula1";
  font-weight: lighter;
  src: url('/src/assets/fonts/Formula1/Formula1-Display-Wide.ttf') format("ttf");
  src: url('/src/assets/fonts/Formula1/Formula1-Display-Wide.woff') format("woff");
  src: url('/src/assets/fonts/Formula1/Formula1-Wide.eot') format("eot");
  src: url('/src/assets/fonts/Formula1/Formula1-Wide.woff2') format("woff2");
}
*/
.formula1_text {
  font-family: "Formula1", "B612", sans-serif;
}
.header_container {
  width: 100%;
  border-bottom: 4px solid #e8175d;
  border-right: 4px solid #e8175d;
  border-radius: 0 0 50px 0;
  margin: 48px 0;
}
.header_container .header {
  margin: 0 0 8px 0;
  font-size: 80px;
  color: #e8175d;
}

h1,
.header {
  font-size: 48px;
  font-family: "Formula1", "B612", sans-serif;
}
h2,
.title {
  font-size: 38px;
  font-family: "Formula1", "B612", sans-serif;
}
.title-s {
  font-size: 18px;
  font-family: "Formula1", "B612", sans-serif;
}

.subtitle {
  font-size: 24px;
}
.subtitle-s {
  font-size: 16px;
}
.date,
.date-s {
  margin: 0;
}

.body_text {
  font-size: 18px;
}
.body_text-s {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: "B612", sans-serif;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nav-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.nav-wrapper .brand-logo {
  height: 100%;
  max-width: 20%;
}
.nav-wrapper a {
  font-size: 24px;
  color: #363636;
  font-family: "Formula1";
}

.nav-wrapper a.active {
  color: #e8175d !important;
}

.nav-wrapper a:hover,
#dropdown-Clasificacion.dropdown-content > li a:hover {
  background-color: #f5f5f5;
  color: #e8175d;
}
.nav-wrapper > ul {
  height: 100%;
  width: 100%;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
}
.nav-wrapper > ul > li {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#dropdown-Clasificacion.dropdown-content {
  top: 0px !important;
  margin-top: 100px;
}
#dropdown-Clasificacion.dropdown-content > li a {
  color: #363636;
}
.mi_container {
  max-width: 1440px;
  padding: 30px;
  margin: 0 auto;
  overflow: hidden;
}

hr,
hr.divider-s {
  background: #a8a7a8;
  border: none;
  width: 100%;
  height: 1px;
  margin: 24px 0 32px 0;
}
hr.divider-m {
  height: 2px;
}
hr.divider-l {
  height: 4px;
}
.card .title,
.card h2 {
  margin: 0;
  text-align: center;
}
.card .subtitle {
  margin-top: 5px;
  text-align: center;
}
.card {
  padding: 15px;
}
.lista_resultados {
  counter-reset: rowNumber;
}
.lista_resultados tr::before {
  display: table-cell;
  counter-increment: rowNumber;
  content: counter(rowNumber) ".";
  vertical-align: middle;
}
.lista_resultados tr:last-child {
  border: none;
}
.lista_resultados tr:nth-child(-n + 3)::before,
.lista_resultados tr:nth-child(-n + 3) td {
  color: #e8175d;
}
.lista_resultados tr:first-child::before,
.lista_resultados tr:first-child td {
  font-weight: bold;
}
main a,
a:hover > .title,
a:hover > .title-s {
  color: #e8175d !important;
}
main a:hover {
  font-weight: bold;
}
a > .title,
a > .title-s {
  color: #363636 !important;
}

a > i.material-icons {
  vertical-align: middle;
}

.row_socialHome,
.row_socialHome_center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.socialHome {
  width: 22%;
  border: #dddede 1px solid;
}
.row_socialHome_center {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 32px;
}
.row_socialHome_center > .socialHome {
  width: 27%;
  border: #dddede 1px solid;
}
.btn{
  background-color: #cc527a !important;
}
.btn[type=submit]:hover{
  background-color: #e8175d !important;
}
.my-buscador label.active{
  color:#e8175d !important;
}




.page-footer {
  background-color: #cc527a;
}
.page-footer a {
  color: white;
}
.page-footer a:hover {
  color: #363636;
}

/*************************************** Auxiliares ********************************/

.margin-s {
  margin: 8px;
}
.marginUD-s {
  margin: 8px 0;
}
.margin-m {
  margin: 16px;
}
.marginUD-m {
  margin: 16px 0;
}
.flex-center {
  justify-content: center;
}
.vertical-align{
  align-self: center;
}
.hard-pink {
  color: #e8175d !important;
}
.hard-pink-bk {
  background-color: #e8175d !important;
}
.soft-pink-bk {
  background-color: #cc527a !important;
}
/*************************************** Medias ********************************/

@media only screen and (max-width: 1024px) {
  .hide-on-med-and-down {
    display: none !important;
  }
  nav a.sidenav-trigger {
    display: flex !important;
  }
  .title {
    font-size: 28px;
  }
  .subtitle {
    font-size: 20px;
  }
  .brand-logo {
    left: 0;
  }
  nav,
  nav .nav-wrapper i,
  nav a.sidenav-trigger,
  nav a.sidenav-trigger i {
    font-size: 60px;
    color: #363636;
  }
  #dropdown-Clasificacion-movil{
    top:49px !important;
  }
}

@media only screen and (max-width: 768px) {
  .brand-logo {
    left: 70px !important;
  }
  .row_socialHome_center {
    width: 100%;
  }
  .row_socialHome {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .row_socialHome > .socialHome {
    width: 27%;
  }
  .row_socialHome > .socialHome:last-child {
    margin: 0 auto;
    margin-top: 32px;
    justify-self: center;
  }
}

@media only screen and (max-width: 414px) {
  
  .row_socialHome > .socialHome,
  .row_socialHome_center > .socialHome {
    width: 100%;
  }
  .row_socialHome_center > .socialHome,
  .row_socialHome > .socialHome:not(:last-child) {
    margin: 0;
    margin-bottom: 32px;
  }
  .row_socialHome_center,
  .row_socialHome {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 300px) and (max-width: 1300px) {
  .header_container .header {
    font-size: calc(50px + (80 - 50) * ((100vw - 300px) / (1300 - 300)));
  }
  .body_text{
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1300 - 300)));
  }
  .header{
    font-size: calc(18px + (48 - 18) * ((100vw - 300px) / (1300 - 300)));
  }
}
@media screen and (min-width: 1025px) and (max-width: 1300px) {
  .nav-wrapper a {
    font-size: calc(18px + (24 - 18) * ((100vw - 1025px) / (1300 - 1025)));
  }
}