@font-face {
  font-family: "Formula1";
  src: url('/src/assets/fonts/Formula1-Regular.ttf') format("ttf");
}
@font-face {
  font-family: "Formula1";
  font-weight: 900;
  src: url('/src/assets/fonts/Formula1-Bold.ttf') format("ttf");
}

@font-face {
  font-family: "Formula1";
  font-weight: 900;
  src: url('/src/assets/fonts/Formula1-Black.ttf') format("ttf");
}

@font-face {
  font-family: "Formula1";
  font-weight: 900;
  src: url('/src/assets/fonts/Formula1-Wide.ttf') format("ttf");
}
h1,
.header {
  font-size: 48px;
  font-family: "Formula1";
}
h2,
.title {
  font-size: 38px;
  font-family: "Formula1";
}
.subtitle {
  font-size: 24px;
}
.body_text {
  font-size: 18px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nav-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.nav-wrapper .brand-logo {
  height: 100%;
}
.nav-wrapper a {
  font-size: 24px;
  color: black;
  font-family: "Formula1";
}
.nav-wrapper a.active {
  color: #e8175d !important;
}

.nav-wrapper a:hover, #dropdown-Clasificacion.dropdown-content > li a:hover {
  background-color: #f5f5f5;
  color: #e8175d;
}
.nav-wrapper > ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2%;
}
.nav-wrapper > ul > li {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#dropdown-Clasificacion.dropdown-content{
  top:0px !important;
  margin-top: 100px;
}
#dropdown-Clasificacion.dropdown-content > li a{
  color: black;
}
.container {
  max-width: 1440px;
  padding: 30px;
}

hr, hr.divider-s {
  background: #e8175d;
  border:none;
  width: 100%;
  height: 1px;
  margin: 24px 0 32px 0;
}
hr.divider-m {
  height: 2px;
}
hr.divider-l {
  height: 4px;
}
.card .title,
.card h2 {
  margin: 0;
  text-align: center;
}
.card .subtitle {
  margin-top: 5px;
  text-align: center;
}
.card {
  padding: 15px;
}
.lista_resultados {
  counter-reset: rowNumber;
}
.lista_resultados tr::before {
  display: table-cell;
  counter-increment: rowNumber;
  content: counter(rowNumber) ".";
  vertical-align: middle;
}
.lista_resultados tr:last-child{
  border:none;
}
.lista_resultados tr:nth-child(-n + 3)::before,
.lista_resultados tr:nth-child(-n + 3) td {
  color: #e8175d;
}
.lista_resultados tr:first-child::before,
.lista_resultados tr:first-child td {
  font-weight: bold;
}
main a{
  color:#e8175d !important;
}
main a:hover{
  font-weight: bold;
}
a > i.material-icons{
  vertical-align: middle;
}